<div class="row marketing">
  <div class="col-lg-6">
    <h4>A demo Alexa Skill for Marine Weather Forecasts.</h4>

    <ul>
      <li><a href="<%= page_path(@conn, :privacy) %>">Privacy</a>
      <li><a href="<%= page_path(@conn, :terms) %>">Terms of Use</a>
      <li><a href="<%= page_path(@conn, :contact) %>">Contact</a>
    </ul>
  </div>

  <div class="col-lg-6">
  </div>
</div>
